
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
        </label>
    <img src="assets/hospital.png" alt="logo">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>

  <div id="header">
        <div class="container" >
          <div class="banner-text">
            <div>
              <h2 class="text-center"> The Health Blog </h2>
              <br>
              <h1 class="text-center">Health & fitness insights for
                a healthier you.</h1>
            </div>
            
            </div>
            
          </div>
        </div>

 
  