nav img{
  width: 70px;
}
nav{
  background-color:#fdfbfa ;
  padding: 10px;
}
ul{
  float: right;
  list-style-type: none;
}
ul li{
  display: inline-block;
  padding: 20px;
}
li a{
 color: #0f0f0f;
 text-decoration: none;
 cursor: pointer;
 text-transform: uppercase;
 padding: 7px 13px;
 border-radius: 3px;
 font-style: bold;
 font-size: 17px;
}
a.active , a:hover{
  text-transform: .5s;
  background-color: #1b9bff;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
  font-size: 30px;
  padding-left: 50px;
}
li a{
  font-size: 16px;
}
}
@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #79b8e8;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  li a {
      font-size: 20px;
  }
  a.hover ,a.active{
      background: none;
      color: #fff;
  }
  #check:checked ~ ul{
      left: 0;
  }
}
.img-banner{
  
  width: 1500px;
  max-width: 1500px;
  height: 500px;
}
#header{
  width: 1250px;
  height: 250px;
  background: #4dcef6;
  margin-left: 6px;
  margin-right: 6px;
  justify-content: center;
}
/* h1 .row-md{
  top: 30px;
  bottom: 70px;
  justify-content: center;
  margin-left: 500px;
} */

.container{
  border: none;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 55px;
}