<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About Us </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum incidunt tempora, illum ad modi odit! Doloremque vero eveniet unde magni necessitatibus, inventore veniam eaque est veritatis eum quidem sit dolor, eligendi pariatur possimus cum odit beatae, placeat facere esse neque. Omnis, atque molestiae unde doloribus suscipit iste nihil et sint ab eum explicabo animi eaque ea dolores similique dolor aperiam reiciendis labore, nobis consequatur iure odio consequuntur blanditiis. Illum maiores aperiam commodi nam provident ea optio quasi tempore, maxime ut nobis, dicta facilis vitae quidem quod eum quam ipsum magni unde iusto reiciendis iste in! Debitis doloribus asperiores provident facilis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum incidunt tempora, illum ad modi odit! Doloremque vero eveniet unde magni necessitatibus, inventore veniam eaque est veritatis eum quidem sit dolor, eligendi pariatur possimus cum odit beatae, placeat facere esse neque. Omnis, atque molestiae unde doloribus suscipit iste nihil et sint ab eum explicabo animi eaque ea dolores similique dolor aperiam reiciendis labore, nobis consequatur iure odio consequuntur blanditiis. Illum maiores aperiam commodi nam provident ea optio quasi tempore, maxime ut nobis, dicta facilis vitae quidem quod eum quam ipsum magni unde iusto reiciendis iste in! Debitis doloribus asperiores provident facilis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum incidunt tempora, illum ad modi odit! Doloremque vero eveniet unde magni necessitatibus, inventore veniam eaque est veritatis eum quidem sit dolor, eligendi pariatur possimus cum odit beatae, placeat facere esse neque. Omnis, atque molestiae unde doloribus suscipit iste nihil et sint ab eum explicabo animi eaque ea dolores similique dolor aperiam reiciendis labore, nobis consequatur iure odio consequuntur blanditiis. Illum maiores aperiam commodi nam provident ea optio quasi tempore, maxime ut nobis, dicta facilis vitae quidem quod eum quam ipsum magni unde iusto reiciendis iste in! Debitis doloribus asperiores provident facilis.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home
                     </button>
            </div>
        </div>

    </div>
</section>