<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="card shadow-effect">
                <img src="" alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Design</small>
                    <small class="bg-light text-info text-center ml-2">Design</small>
                    <small class="bg-light text-warning text-center ml-2">Design</small>

                    <h1 class="mt-3 mb-3">CREATE A BLOG IN THIS 2023 EDITION</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis tempore dolore, autem sint quis voluptas incidunt esse dicta voluptate quibusdam tenetur! Fuga quis ipsum animi nisi culpa! Commodi nostrum dolor rem. Perspiciatis, eveniet saepe placeat ex recusandae libero reprehenderit commodi consequatur qui deserunt, iste cupiditate odit quam tenetur officia iusto minima? Aperiam nobis eum harum enim quae. Dolores, aperiam!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, placeat aspernatur. Incidunt, corrupti quasi! Tempora animi voluptatum iusto quae sequi, doloremque dolores aspernatur odit maiores esse suscipit, dolorum accusantium sunt!
                        <br>
                        Why do we use it?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quasi nisi exercitationem? Laboriosam molestiae fugiat placeat veniam repudiandae at assumenda.
                        <br>
                        Where does it come from?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus et, id aspernatur dolorum adipisci quos dignissimos voluptate perferendis consequuntur velit nemo iusto ex sit explicabo itaque dolorem corrupti assumenda ipsum.
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, architecto deleniti. Quibusdam voluptatum voluptates omnis. Quia ut enim unde ipsum exercitationem, odio molestias eum magni repellat quibusdam accusamus nisi modi minima soluta aliquid laborum porro laboriosam! Ad iure est ex autem. Assumenda, earum architecto repudiandae est dolorem cum vero voluptatum necessitatibus facere laboriosam, 
                        ipsam aliquid. Nostrum est soluta, ratione, ut tenetur nulla, deleniti unde expedita minus in odit eum cum.
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>

        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>