<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Missy Health</h4>
                <p>Missy Health is India's 1st Deep-tech women's reproductive healthcare brand. 
                 Women's health has been neglected for the longest time and we are here to change that.
                 With a team of experienced medical professionals and cutting-edge technology, we offer 
                 a range of services including gynecological tests and probiotic suppliments. </p>
            </div>
            <div class="footer-col">
                <h4>About</h4>
                <ul>
                    <li><a href="#">For Providers</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Careers</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>Learn</h4>
                <ul>
                    <li><a href="#">Vaginal A-Z</a></li>
                    <li><a href="#">Missy Blog</a></li>
                    <li><a href="#">Our Science</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>